* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f2f2f2;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
  border-radius: 10px;
  height: 440px;
  width: 327px;
}

@media only screen and (min-width: 750px) {
  .container {
    display: flex;
    flex-direction: row;
    height: 280px;
    width: 730px;
  }
}

.img_container {
  width: 100%;
  height: 40%;
}
@media only screen and (min-width: 750px) {
  .img_container {
    height: 100%;
    width: 40%;
  }
}

.img_main {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
@media only screen and (min-width: 750px) {
  .img_main {
    border-radius: 10px 0 0 10px;
  }
}

.txt_container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-inline: 32px;
}

@media only screen and (min-width: 750px) {
  .txt_container {
    width: 60%;
    height: 100%;
  }
}

.personal_container {
  display: none;
}
@media only screen and (min-width: 750px) {
  .personal_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

h1 {
  padding-top: 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #48556a;
}

.p_main {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #6e8098;
  padding-top: 12px;
  padding-bottom: 20px;
}

.personal-info {
  display: none;
  position: relative;
  margin-left: 30px;
}

.personal-info::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  height: 40px;
  width: 40px;
  background-image: url("../images/avatar-michelle.jpg");
  left: -30px;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

@media only screen and (min-width: 750px) {
  .personal-info::before {
    display: flex;
  }
}

.personal_primary {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #48556a;
  margin-left: 32px;
}

.personal_secondary {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.121875px;
  color: #9daec2;
  margin-left: 32px;
}

@media only screen and (min-width: 750px) {
  .personal-info {
    display: inline-block;
  }
}

.share_img_personal {
  background: #ecf2f8;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* JS ELEMENTS */

.pop-up-box {
  height: 55px;
  width: 248px;
  background: #48556a;
  box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 36px;
  border-radius: 10px;
  position: absolute;
  top: -70px;
  left: 234px;
}

.pop-up-box::after {
  content: "";
  height: 24px;
  width: 24px;
  background-color: #48556a;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%) rotate(45deg);
}

.nav {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #48556a;
  border-radius: 0px 0px 10px 10px;
  align-items: center;
  padding-inline: 32px;
}

@media only screen and (min-width: 750px) {
  .nav {
    display: none;
  }
}

.footer-details {
  display: flex;
}

.footer-socials {
  margin-left: 21px;
  display: flex;
  gap: 10px;
}

.p_footer {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 5px;
  color: #9daec2;
  text-transform: uppercase;
}

.share-img {
  background: white;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
